<!-- templates/registration/login.html -->
{% extends "basic_generic.html" %}

{% block content %}
<center>
    <div style="-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.27); 
box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.27); padding: 10px; border-radius: 40px; background-color: #9CBBE8; width: 350px; height: 350px; text-align: center;">
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
</div>
</center>
{% endblock %}
