.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.finished-assignments-section {
    flex: 1;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
}

.assignment-section {
    flex: 3;
}
